extends ../layout

block content
    h1.
        ID:  #{blob._id}
    p Naziv projekta: #{blob.nazivProjekta}
    p Opis projekta: #{blob.opisProjekta}
    p Obavljeni poslovi: #{blob.obavljeniPoslovi}
    p Cijena projekta: #{blob.cijenaProjekta}
    p Datum pocetka: #{blob.datumPocetka}
    p Datum završetka: #{blob.datumZavrsetka}
